{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<div class="site-banner">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">			
					<div class="colored">
						<h1>Shop</h1>
						<div class="breadcum-items">
							<span class="item"><a href="{% url 'home' %}">Home /</a></span>
							<span class="item colored">Shop</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="bg-sand padding-large">
	<div class="container">
		<div class="row">

			<div class="col-md-6" align="center">
				<img src="{{ product.image.url }}">
			</div>

			<div class="col-md-6 pl-5">
				<div class="product-detail">

					<h5 class="pt-4">{{ product.name }}</h5>
					<p>{{ product.category }}</p>
					<span class="price colored">${{ product.price }}</span>
					<p>{{ product.description }}</p>

					<label class="screen-reader-text" for="qty">Black Forest Pastry Quantity</label>
					<form action="{% url 'cart_add' product.id %}" method="post">
						{% csrf_token %}
						{{ cart_product_form }}
						<button type="submit" name="add-to-cart" value="27545" class="button">Add to cart</button>
					</form>

				</div>
			</div>

		</div>
	</div>
</section>
{% endblock %}